Flask==3.0.0
shapely == 2.1.1
scipy == 1.15.3
deap == 1.4.3
sympy == 1.13.3
descartes==1.1.0
fonttools==4.59.1
kiwisolver==1.4.9
matplotlib==3.10.5
packaging==25.0
pillow==11.3.0
pyparsing==3.2.3
python-dateutil==2.9.0.post0
cycler==0.12.1
gunicorn>=21.0.0
gevent>=23.0.0
psutil>=5.9.0
requests>=2.31.0
Werkzeug>=2.3.0