__pycache__/
.DS_Store

*.png

preliminary_validation/
data*/
results/
tests/
tests4local_layout/
tests4L-type_layout/
tests4LI-type_layout/
tested_errors_by_Lili/

general/*
!general/configs.py
!general/utils.py
!general/plot.py
!general/inputs.py
!general/latest_spacing.py

main_ver0.py
get_base_layout.py
test_split_zones.py